---js
const eleventyNavigation = {
	key: "home",
	order: 1
};

const numberOfLatestPostsToShow = 5;
---

<h2>Hi, I'm CJ.</h2>
<p>
  I'm a designer and indie game developer living in Tokyo. I'm the co-founder of a design &amp; games cooperative called Studio Terranova. I write about games, technology, and fandom from a queer lens.
</p>
<p>
  I love it when people say hi. <a href="mailto:cj@studioterranova.net">My email</a> is always open.
</p>
<p>
  <a href="https://illuminesce.net/rss.xml"><i class="ph-fill ph-rss-simple" style="font-size: 26px; color: orange;"></i></a>&nbsp;&nbsp;<a href="https://buttondown.com/studioterranova#subscribe-form"><i class="ph ph-envelope-simple-open" style="font-size:26px; color: MediumAquamarine;"></i></a>&nbsp;&nbsp;<a href="gamedev.lgbt/@illuminesce"><i class="ph ph-mastodon-logo" style="font-size:26px; color: Indigo;"></i></a>&nbsp;&nbsp;<a href="https://bsky.app/profile/illuminesce.net"><i class="ph ph-butterfly" style="font-size:26px; color: Blue;"></i></a>
</p>


{% set postsCount = collections.posts | onlyPublished | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Recent Posts</h3>

{% set postslist = collections.posts | onlyPublished | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="archive.njk">the archive</a>.</p>
{% endif %}
