---js
const eleventyNavigation = {
	key: "home",
	order: 1
};

const numberOfLatestPostsToShow = 5;
---

<h2>Hi, I'm CJ.</h2>
<p>
  I'm a designer and indie game developer living in Tokyo. I write about games, technology, and fandom from a queer lens.
</p>
<p>
  I'm the co-founder of a design &amp; games agency called Studio Terranova. We try to do good and make things that feel real. I use this blog as a resource for documenting ephemerata, and collecting my thoughts.
  <br>
  <br>
  <a href="https://illuminesce.net/contact">I love it when people say hi</a>. My email is always open.
</p>


{% set postsCount = collections.posts | onlyPublished | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Recent Posts</h2>

{% set postslist = collections.posts | onlyPublished | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="archive.njk">the archive</a>.</p>
{% endif %}
