<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', 'IBM Plex Sans', sans-serif;
    background: linear-gradient(145deg, rgba(180, 208, 186, 1), rgba(190, 205, 145, 1));
  }
  .title {
    color: rgba(84, 130, 95, 1);
    filter: drop-shadow(2px 2px 0px rgb(255, 255, 255));
    margin: auto;
    font-size: 80px;
    padding: 30px;
  }
</style>
<div class="root">
  <h1 class="title">{{ title | safe }}</h1>
  <!--<div class="image"><img src="https://illuminesce.neocities.org/images/dino_52x52.png"></div>-->
</div>