---js
const eleventyNavigation = {
	key: "all tags",
  order: 3,
  url: "/tags"
};
---

<h1>Tags</h1>

<ul>
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
