<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{%- set postMeta = page.url | postMetaFor -%}
		{%- set metaDescription = description or postMeta.excerpt or metadata.description -%}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ metaDescription }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		{# - import Phosphor Icons - #}
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
    	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>

		{# - For pretty links when sharing your site elsewhere -#}
		{# - Open Graph / Facebook -#}
		<meta property="og:title" content="{{ title }}" />
  		<meta property="og:description" content="{{ metaDescription }}" />
		{%- if postMeta.imageUrl %}
		<meta property="og:image" content="{{ postMeta.imageUrl }}" />
		{%- if postMeta.imageWidth %}
		<meta property="og:image:width" content="{{ postMeta.imageWidth }}" />
		<meta property="og:image:height" content="{{ postMeta.imageHeight }}" />
		{%- endif %}
		{%- endif %}
		<meta name="fediverse:creator" content="@illuminesce@gamedev.lgbt">

  		{# - Twitter -#}
  		<meta property="twitter:card" content="summary_large_image" />
  		<meta property="twitter:title" content="{{ title }}" />
  		<meta property="twitter:description" content="{{ metaDescription }}" />
		{%- if postMeta.imageUrl %}
		<meta name="twitter:image" content="{{ postMeta.imageUrl }}" />
		{%- endif %}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or you can add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header id="sitemast" role="banner">
			<h1 class="home-link">
				<a href="https://illuminesce.net/">
					illuminesce.net
				</a>
			</h1>
		</header>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		<nav id="navigate">
			<h2 class="visually-hidden">Top level navigation menu</h2>
			<ul class="nav">
			{%- for entry in collections.all | eleventyNavigation %}
				<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
			</ul>
		</nav>

		<div id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</div>

		<footer>
			<p><em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em></p>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
