---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/index.css" %}{%- endcss %}
{%- css %}{% include "public/css/comments.css" %}{%- endcss %}

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }} | {{ content | readingTime }} read</time></li>
	<li><span class="post-tags">Tagged as
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}
	</li></span>
</ul>

<h1>{{ title }}</h1>

<a href="rss.xml" style="vertical-align: middle;""><i class="ph-fill ph-rss-simple" style="font-size: 26px"></i></a>&nbsp;&nbsp;<a href="https://buttondown.com/studioterranova#subscribe-form"><i class="ph ph-envelope-simple-open" style="font-size:26px"></i></a>

<div id="post-content">{{ content | safe }}</span>

<div class="footer-socials" style="width: 50%; margin: 0 auto;">
	<a href="rss.xml" style="vertical-align: middle;""><i class="ph-fill ph-rss-simple" style="font-size: 16px"></i> subscribe to rss</a>&nbsp;&nbsp;&nbsp;<a href="https://buttondown.com/studioterranova#subscribe-form"><i class="ph ph-envelope-simple-open" style="font-size:16px"></i> newsletter</a>
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

<!-- Cusdis Comments -->
{%- if slug -%}
<!--Every article has a id, but special pages don't unless you set them manually.
This prevents Cusdis from appearing everywhere-->
<hr>
<h3>Comments</h3>
<p>
	I read and review all comments - feel free to leave one.
</p>
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="a501ca0b-7cb3-481f-89ab-a73c7d69afa1"
  data-page-id="{{ slug }}"
  data-page-url="https://illuminesce.net/blog/posts/{{ slug }}"
  data-page-title="{{ title }}">
</div>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
{%- endif -%}